<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <h3>
       Your contacts are valuable assets that deserve to be kept safe and organized. That's where ContactVault comes in – it's a smart contact manager that helps you store, manage, and access your contacts with ease.

With ContactVault, you can say goodbye to the hassle of manually adding, deleting, or updating contacts. We're confident that you'll love it!
    </h3>
</section>
</body>
</html>